@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy {
  border-radius: 58% 42% 79% 21% / 58% 42% 58% 42%;
}
@layer components {
  .Link::after {
    content: " ";
    display: block;
    position: relative;
    height: 2px;
    width: 0;
    top: 28px;
    transition: all 0.2s ease-in;
    @apply bg-primary-Orange;
  }
  .active {
    @apply border-4 border-solid opacity-75 border-primary-Orange;
  }
}
.Link:hover::after {
  width: 100%;
}
